.checkbox {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-grow: 3;
}

.checkbox__toggle-switch {
  display: inline-block;
  background: #ebebeb;
  border-radius: 16px;
  width: 36px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.checkbox__toggle-switch:before,
.checkbox__toggle-switch:after {
  content: "";
}
.checkbox__toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.25s;
}

.checkbox__toggle:checked + .checkbox__toggle-switch {
  background: #3ddc84;
}
.checkbox__toggle:checked + .checkbox__toggle-switch:before {
  left: 17px;
}

.checkbox__toggle {
  position: absolute;
  visibility: hidden;
}

.checkbox__toggle-label {
  padding-left: 14px;
  position: relative;
  top: 1px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.checkbox__toggle-label:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .checkbox__toggle-label {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .checkbox {
    justify-content: center;
    background: #202020;
    margin: 0;
  }
  .checkbox__toggle-label {
    font-size: 11px;
  }
}
