.register {
  width: 396px;
  margin: 71px auto 70px auto;
}

.register__title {
  margin: 0;
  padding: 37px 0 0 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.register__form {
  padding: 40px 0 0 0;
  display: grid;
  grid-template-rows: repeat(3, 68px);
  gap: 20px;
  width: 100%;
}

.register__error {
  font-size: 12px;
  line-height: 16px;
  color: #ee3465;
  margin-top: -10px;
}

.register__input-container {
  display: flex;
  flex-direction: column;
}

.register__input-label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8b8b8b;
}

.register__input {
  margin: 10px 0 0 0;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  outline: none;
}

.register__input:focus {
  outline: 2px solid #4285f4;
}

.register__button-container {
  margin: 71px 0 0 0;
  width: 100%;
}

.register__submit-button {
  padding: 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #4285f4;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.register__submit-button:hover {
  color: #2f2f2f;
}

.register__switch {
  padding: 16px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.register__switch-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
  user-select: none;
}

.register__switch-link {
  font-size: 14px;
  font-weight: 400;
  color: #4285f4;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.register__switch-link:hover {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .register {
    margin: 232px auto 232px auto;
  }

}


@media (max-width: 767px) {
  .register {
    padding: 0;
    margin: 57px 30px 30px 30px;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register__title {
    margin: 0;
    padding: 47px 0 0 0;
    font-size: 24px;
    line-height: normal;
  }

  .register__form {
    padding: 80px 0 0 0;
    width: 100%;
  }

  .register__button-container {
    margin: 160px 0 0 0;
    width: 100%;
  }
  .register__submit-button {
    font-size: 12px;
  }

  .register__switch-text {
    font-size: 12px;
  }

  .register__switch-link {
    font-size: 12px;
  }
}
